<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-0">

			No Wedding Waste wants to help you help someone else at the end of your special day. But you've been working hard!
			So let's make giving away your leftover food, flowers and more much easier than getting them.

		</div>
	</div>
</div>
