<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

		<h2>List Your Event Now!</h2>

		<p>
			Please give us a good description of your event, and any other details that will help our partner organizations
			determine whether your event will be a good fit for their needs.
		</p>

		<%= render 'form' %>

		<%= link_to 'Back', events_path %>

	</div>
  </div>
</div>
