@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
	height: 100%;
	margin-bottom: 5px;
}

body {
	background: linear-gradient(to bottom right, #34495e, #414D5E);
	color: white;
}

.alert {
	margin-bottom: 5;
	padding: 5px;
	color: black;
	background-color: #BBDEFA;
	text-align: center;
}

.home {
	margin-top: 150px;
	text-align: center;
}


.vert-offset {
	margin-top: 100px;
}

.collapse {
	margin-bottom: 50px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color: white;
}

.jumbotron {
	color: black;
}

.footer {
	text-align: center;
	position: absolute;
	bottom: 0px;
}

.item-detail {
	border: 1px;
	border-color: white;
	border-style: dotted;
	padding: 5px;
}

.navbar-brand {
	color: white;
	font-size: 20px;
}
