@import "bootstrap-sprockets";
@import "bootstrap";

body, html {
	height: 100%;
}

.alert {
	margin-bottom: 5;
	padding: 5px;
}

.home {
	margin-top: 150px;
	text-align: center;
}

.alert {
	background-color: #BBDEFA;
	text-align: center;
}

.vert-offset {
	margin-top: 100px;
}

.collapse {
	margin-bottom: 50px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
